img {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 100;

  padding: 0 40px;
}

header .top-link {
  font-size: 20px;
  width: 50px;
  height: 10px;
  color: #333333;
}

header nav .nav-link {
  font-size: 20px;
  height: 70px;
  color: #333333;
  padding: 16px;
}

header nav .nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 885px) {
  body {
    margin: 0;
    font-family: "Futura", Helvetica, sans-serif;
  }

  /* Navbar & Navmenu color */
  :root {
    --background-navbar: rgba(55, 55, 55, 0.98);
  }

  .header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height: 52px;
  }

  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 30%;
    height: auto;
    top: 0;
    margin-top: 70px;
    padding: 0 0 10px 0;
    clear: both;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
    right: 0;
  }

  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Hamburger menbu text */
  .menu a {
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #333333;
    opacity: 0;
    transition: 0.5s;
    margin: 10px 0;
  }

  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }

  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .navicon {
    background: #333333;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #333333;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before {
    top: 9px;
  }

  .navicon:after {
    bottom: 9px;
  }

  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */

  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.parent {
  display: flex;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .parent {
    flex-direction: column;
  }
}

.child {
  width: 50%;
}

@media (max-width: 768px) {
  .child {
    width: 100%;
    height: 50%;
  }
}

.parent .top-title {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  padding: 40px;

  gap: 16px;

  height: 100%;
}

@media (max-width: 430px) {
  .parent .top-title {
    align-items: flex-start;
  }
}

.parent .top-title h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 830px) {
  .parent .top-title h1 {
    font-size: 37px;
  }
}

.parent .swiper-container {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .parent .swiper-container {
    width: 100%;
  }
}

.parent .swiper-container .swiper-wrapper {
  height: 100%;
}

.parent .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.parent .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding-top: 160px;
}
section h2.section-title {
  font-size: 60px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;

  width: fit-content;

  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 885px) {
  section h2.section-title {
    font-size: 50px;
  }
}

@media (max-width: 443px) {
  section h2.section-title {
    font-size: 30px;
  }
}

section h2.section-title::before,
section h2.section-title::after {
  content: " - ";
}
section .container {
  max-width: 1024px;
  width: calc(100% - 40px);

  margin-left: auto;
  margin-right: auto;
}

.profile .container {
  display: flex;
  align-items: center;
}
.profile .container .profile-image {
  width: 300px;
  height: 300px;

  object-fit: cover;
  object-position: 0 100%;

  border-radius: 50%;
}

@media (max-width: 885px) {
  .profile .container .profile-image {
    width: 200px;
    height: 200px;
  }
}

.js-scroll.-fadein {
  opacity: 0;
  transform: translateY(10rem);
}
.js-scroll.-fadein.js-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.profile .container .profile-text {
  margin-left: 24px;
}

@media (max-width: 885px) {
  .container {
    flex-direction: column;
  }
}

.favorite .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.favorite .container .item {
  width: 100%;
}
.favorite .container .item-title {
  font-weight: bold;
  font-size: 20px;
}
.favorite .container .item-cover {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 10px;
  margin: 20px 0;
}

.section-image img {
  height: 400px;
  object-fit: cover;
}

@media (max-width: 885px) {
  .section-image img {
    height: 300px;
    object-fit: cover;
  }
}

.video .container .about {
  margin-bottom: 40px;
}
.video .container iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
  margin-top: 120px;
}
